.guard_dialyzer.plt
.DS_Store
.eunit/*
.idea
deps/*
ebin/*
doc/*
rebar
kerl
kerl.bash
temp/*
src/*_lexer.erl
src/*_parser.erl
doc/*.css
doc/*.html
doc/*.png
doc/edoc-info
*.beam
bin/guard
erl_crash.dump
Mnesia*
\#*\#